@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --black: #263238;
  --white: #fff;
  --grey: #78889b;
  --light-grey: #e1e4e8;
  --blue: #2e66f6;
  --orange: #ff7043;
  --dark-orange: #dc603a;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  top: 0;
  width: 98%;
}

.logo h1 {
  margin: 0;
  font-style: italic;
  font-size: 1.7rem;
  cursor: pointer;
}

.insert button {
  border: none;
  border-radius: 4px;
  text-transform: capitalize;
  padding: 7px 10px;
  margin-right: 10px;
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

.insert button:hover {
  background-color: var(--dark-orange);
  transition: 0.25s;
}

/* DASHBOARD */
.dashboard {
  margin: 4rem 0 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  margin: 2rem;
  background-color: var(--grey);
  padding: 0.5rem;
  border-radius: 4px;
  width: 90%;
}

.dash-data {
  background-color: var(--light-grey);
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 10px;
}

.avatar img {
  width: 40px;
  object-fit: contain;
  border-radius: 50%;
}

.checked {
  color: var(--orange);
}

.task-name {
  font-weight: 700;
  width: 80px;
}
.task-status {
  width: 80px;
  display: inline-block;
  padding: 10px;
}
.prog-bar {
  border-radius: 12px;
  padding: 0.02rem 3rem;
  background-color: var(--orange);
  color: var(--orange);
  width: 80px;
}

i {
  margin: 0 7px;
  cursor: pointer;
  font-size: 1rem;
}

i:hover {
  color: var(--dark-orange);
}
